@charset "UTF-8";

@import url("https://font-serve.web.app/font.css");

/*
    font-family: "source-code-pro_regular", monospace;
    font-family: "concourse_t2_regular", sans-serif;
    font-family: "concourse_c2_regular";
*/

/* Tufte CSS styles */
html {
    font-size: 14px;
}

body {
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12.5%;
    font-family: "concourse_t2_regular", sans-serif;
    font-weight: normal;
    font-variant-numeric: oldstyle-nums stacked-fractions;
    background-color: #fff;
    color: #333332;
    max-width: 1400px;
    counter-reset: sidenote-counter;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased; /* corrects safari rendering */
}

h1 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1; 
}

h2 {
    font-weight: normal;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1; 
}

h3 {
    font-style: italic;
    font-weight: normal;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1; 
}

hr {
    display: block;
    height: 1px;
    width: 55%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

strike {
    color: #ccc;
    text-decoration: line-through;

}

p.subtitle {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: block;
    line-height: 1; 
}

.numeral {
    font-family: font-variant-numeric: oldstyle-nums stacked-fractions;
}

.danger {
    color: red; 
}

article {
    padding: 5rem 0rem; 
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem; 
}

p,
ol,
ul {
    font-size: 1.4rem;
    line-height: 2rem;
    list-style-position: outside;
    padding-left: 0;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline; 
}

/* Chapter Epigraphs */
div.epigraph {
    margin: 5em 0; 
}

div.epigraph > blockquote {
    margin-top: 3em;
    margin-bottom: 3em; 
}

div.epigraph > blockquote,
div.epigraph > blockquote > p {
    font-style: italic; 
}

div.epigraph > blockquote > footer {
    font-style: normal; 
}

div.epigraph > blockquote > footer > cite {
    font-style: italic; 
}
/* end chapter epigraphs styles */

blockquote {
    font-size: 1.4rem; 
}

blockquote p {
    width: 55%;
    margin-right: 40px; 
}

blockquote footer {
    width: 55%;
    font-size: 1.1rem;
    text-align: right; 
}

section > header {
    font-family: "concourse_c2_regular", sans-serif;
    font-kerning: normal;
    letter-spacing: 0.1rem;
}

section > p,
section > footer,
section > table {
    width: 55%; 
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > ol,
section > ul {
    width: 55%;
    -webkit-padding-start: 0;
}

li:not(:first-child) {
    margin-top: 0.25rem; 
}

figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0; 
}

figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: 40%; 
}

figure.fullwidth figcaption {
    margin-right: 24%; 
}

/* Links: replicate underline that clears descenders */

a {
    color: inherit;
    transition-property: background;
    transition-duration: 0.2s;
    text-decoration: underline rgba(229, 229, 229, 1);
}

a:active { color: #777; }

a:hover {
    background: rgba(247, 247, 245, 1);
    transition-property: background;
    transition-duration: 0.2s;
}

.no-tufte-underline:link {
    background: unset;
    text-shadow: unset;
}

a.external-link:link,
a.external-link:visited {
    /*text-decoration: underline rgba(229, 229, 229, 1);*/
    text-decoration: none;
}

a.external-link:link, .tufte-underline, .hover-tufte-underline:hover {
    /*text-decoration: underline rgba(229, 229, 229, 1); */
    text-decoration: none;
}

a.external-link:hover {
    background: rgba(0, 119, 170, 0.05);
    transition-property: background;
    transition-duration: 0.2s;
}

a.external-link:after {
    position: relative;
    vertical-align: baseline;
    content: "⬫";
    font-size: 1rem;
    left: -0.1rem;
    top: -0.5rem;
    color: rgba(0, 119, 170, 0.4);
    font-feature-settings: "caps";
    font-variant-numeric: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    a:link, .tufte-underline, .hover-tufte-underline:hover {
        background-position-y: 87%, 87%, 87%;
    }
}

a:link::selection,
a:link::-moz-selection {

}

/* Sidenotes, margin notes, figures, captions */
img {
    max-width: 100%; 
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative; 
}

.sidenote {
    text-indent: -0.54em;
}

.sidenote-number {
    counter-increment: sidenote-counter; 
}

.sidenote-number:after,
.sidenote:before {
    left: -0.1em;
    position: relative;
    vertical-align: baseline; 
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem; 
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 1rem;
    top: -0.5rem; 
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left; 
}

div.fullwidth,
table.fullwidth {
    width: 100%; 
}

div.table-wrapper {
    overflow-x: auto;
    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif; 
}

.sans {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    letter-spacing: .03em; 
}

code, pre > code {
    font-size: 90%;
    font-family: "source-code-pro_regular", monospace;
    font-weight: 400;
    line-height: 1.42;
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
    font-size: 1.2rem; 
}

code {
    font-size: 1.0rem;
    background-color: #f7f7f5;
}


h1 > code,
h2 > code,
h3 > code {
    font-size: 0.80em; 
}

.marginnote > code,
.sidenote > code {
    font-size: 0.9rem;
}

pre > code {
    width: 52.5%;
    overflow-x: auto;
    display: block;
    font-size: 1.0rem;
    padding: 1em 1em;
    background-color: #f7f7f5;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

pre.fullwidth > code {
    width: 100%;
}

.fullwidth {
    max-width: 90%;
    /*clear:both; */
}

span.newthought {
    font-variant: small-caps;
    font-size: 1.2em; 
}

input.margin-toggle {
    display: none; 
}

label.sidenote-number {
    display: inline; 
}

label.margin-toggle:not(.sidenote-number) {
    display: none; 
}

.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0; 
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

@media (max-width: 760px) {
    body {
        width: 84%;
        padding-left: 8%;
        padding-right: 8%; 
    }
    
    hr,
    section > p,
    section > footer,
    section > table {
        width: 100%; 
    }
    
    pre > code {
        width: 97%; 
    }

    section > ol {
        width: 90%; 
    }

    section > ul {
        width: 90%; 
    }

    figure {
        max-width: 90%; 
    }
    
    figcaption,
    figure.fullwidth figcaption {
        margin-right: 0%;
        max-width: none; 
    }
    
    blockquote {
        margin-left: 1.5em;
        margin-right: 0em; 
    }

    blockquote p,
    blockquote footer {
        width: 100%; 
    }
    
    label.margin-toggle:not(.sidenote-number) {
        display: inline; 
    }

    .sidenote,
    .marginnote {
        display: none; 
    }
    
    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative; 
    }

    label {
        cursor: pointer; 
    }

    div.table-wrapper,
    table {
        width: 85%; 
    }
    
    img {
        width: 100%;
    } 
}
